@model IEnumerable<MyHome.Models.Room>
@{
    ViewBag.Title = "Dashboard";
    ViewBag.WelcomeMessage = "";
}

<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    <!--Displays the room name and when clicked goes to the edit page for that room-->
                    @Html.ActionLink(item.Name, "Edit", "Rooms", new { room = item },"")
                </td>
                <td>
                    <!--Shows a delete option next to each room, when clicked goes to the delete page-->
                    @Html.ActionLink("Delete", "Delete", "Rooms", new { id = item.RoomID }, "")
                </td>
            </tr>
        }

    </table>

</div>

<div>
    @Html.ActionLink("Create Room", "Create", "Rooms")
</div>
