@model MyHome.Models.Room
@using MyHome.Models;

@{
    ViewBag.Title = "Edit";
}
<head>
    <title>
        @Model.Name
    </title>

</head>
<h2>Edit</h2>
<div class="row">
    <!-- This form is allowing users to change the name of the room -->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-6">
            <h4>Room</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.HiddenFor(model => model.RoomID)
            @Html.HiddenFor(model => model.User)
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }


    <div class="col-6">
        @Html.Partial("_AddItem", new Item { RoomID = Model.RoomID })
    </div>
</div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
        @foreach (Item item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    <!--Displays the room name and when clicked goes to the edit page for that room-->
                    @Html.ActionLink(item.Name, "Edit", "Items", new { id = item.ItemID }, "")
                </td>
                <td>
                    <!--Shows a delete option next to each room, when clicked goes to the delete page-->
                    @Html.ActionLink("Delete Item", "Delete", "Items", new { id = item.ItemID }, "")
                </td>
            </tr>
        }
    </table>
    <div>
        @Html.ActionLink("Return to dashboard", "Index", "Dashboard", "", "")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
